<header class="header">
    <div class="name">
        <h1 class="head"><a href="/home">Özlem Şen | Photography</a></h1>
    </div>
    <ul class="navBar">
        <li class="navBarLi"><a href="#about">About</a></li>
        <li class="navBarLi"><a href="#portfolio">Work</a></li>
        <li class="navBarLi"><a href="#references">Reference</a></li>
        <li class="navBarLi"><a href="#contact">Contact</a></li>
        <li class="navBarLi"><a href="https://www.instagram.com/benozlemsen/" class="fa" title="Instagram" target="_blank" rel="noopener noreferrer">&#xf16d;</a></li>
        <li class="navBarLi"><a href="https://vimeo.com/user10996798" class="fa fa-vimeo" class="fa2" title="Vimeo" target="_blank" rel="noopener noreferrer"></a></li>
    </ul>
</header>
