<footer class="container">
    <a name="contact">
    <h1 class="h1" title="Say Hello to Me!">Contact</h1>
    {{msg}}
    <div class="contactForm">
        <form class="form" action="https://formspree.io/benozlemsen@gmail.com" method="POST">
           <input id="fname" type="text" name="name" placeholder="Name">
           <input id="fname" type="email" name="_replyto" placeholder="Email">
           <textarea id="subject" name="message" placeholder="Let me know what you think! Or just say Hi!"></textarea>
           <input class="submit" type="submit" value="Send">
       </form>
    </div>
    <div class="details">
        <li>Özlem Şen</li>
        <li>benozlemsen at gmail dot com</li>
        <li>Berlin, Germany</li>
        <li>(GER) +49 177 809 4979</li>
        <li>(TUR) +90 531 507 74 57</li>
    </div>
    <p>Page Design &copy; Panu Salonen | Web Developer</p>
</footer>
