<div class="image-modal">
    {{>homepage3}}
    <div class="image-modal-div">
        {{#images}}
            <img class="modal-image" id="{{id}}" src="{{url}}" title="&copy; Ã–zlem Åen | Photography"/>
        {{/images}}
    </div>
    <div class="modalDiv" id="modalDiv" title="Press The Border">
    </div>
</div>
