<div class="video-modal">
    {{>homepage3}}
    <div class="video-modal-div">
        {{#videos}}
            <img class="modal-video" src="{{url}}" title="&copy; Özlem Şen | Photography"/>
        {{/videos}}
    </div>
    <div class="modalDiv" title="Press The Border">
    </div>
</div>
